<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>RSA Encryptor</title>
</head>
<body>
    <h1>RSA Encryptor</h1>

    <form action="/" method="post">
        Text to encrypt: <input type="text" name="plain_text" size="100"/> <br/>
        Key lenght:
        <select name="length">
            <option value="128">128 bits</option>
            <option value="256">256 bits</option>
            <option value="512">512 bits</option>
            <option value="1024">1024 bits</option>
        </select><br/>
        <input type="submit" value="Submit"/>
    </form>

    <br/><hr/><br/><br/>

    Public key: <input type="text" size="100" readonly="readonly" th:value="${publicKey}"/> <br/>
    Private key: <input type="text" size="100" readonly="readonly" th:value="${privateKey}"/> <br/>
    Encrypted text: <input type="text"  size="100" readonly="readonly" th:value="${encryptedText}"/> <br/>


</body>
</html>