<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>RSA Encryptor</title>
</head>
<body>
    <h1>RSA Encryptor</h1>

    <form action="#">
        Text to encrypt: <input type="text" name="plain_text" maxlength="20"/> <br/>
        Key lenght:
        <select>
            <option value="128">128 bits</option>
            <option value="256">256 bits</option>
            <option value="512">512 bits</option>
            <option value="1024">1024 bits</option>
        </select><br/>
        <input type="submit" value="Submit"/>
    </form>

    <br/><hr/><br/><br/>

    Encrypted text: <input type="text" name="encrypted_text" maxlength="20" readonly="readonly"> <br/>
    Public key: <input type="text" name="encrypted_text" maxlength="20" readonly="readonly"> <br/>
    Private key: <input type="text" name="encrypted_text" maxlength="20" readonly="readonly"> <br/>


</body>
</html>